@model Tuple<IEnumerable<Your_Room.Models.Apartmentsad>,IEnumerable<Your_Room.Models.Furniture>>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Shared.cshtml";
    var Id = ViewBag.Customer_Id;
    var Name = ViewBag.Customer_Name;
    var email = ViewBag.Customer_Email;
    var Img = ViewBag.Customer_Image;
}
<head>
    <style>
        .section-title {
            position: relative;
            display: inline-block;
            text-transform: uppercase;
        }
        :root {
    --primary: #5cbac2;
    --light: #F0FBFC;
    --dark: #181d38;
}
hr {
    border: none;
    border-top: 3px double #333;

    overflow: visible;
    text-align: center;
    height: 5px;
        margin-top: 1rem;
}

hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
    </style>
</head>
  <div class="site-block-wrap">
    <div class="owl-carousel with-dots">
      <div class="site-blocks-cover overlay overlay-2" style="background-image: url(../Assest/images/hero_1.jpg);" data-aos="fade" id="home-section">
          <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 mt-lg-5 text-center">
                        <h1 class="text-shadow">
                            Find your room at the best price.
                        </h1>
                        <p class="mb-5 text-shadow">
                            Post an ad for anything you want in your room,
                            Find your perfect roommate by posting your ad here.
                        </p>
                        @if (email != null)
                        {
                            <div class="dropdown">
                                <button class="btn btn-primary px-3 py-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Create Your Ad
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-action="Create" asp-controller="Apartmentsads">Apartmentsads</a>
                                    <a class="dropdown-item" asp-action="Create" asp-controller="Furnitures">Furnitures</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div >
                                <a asp-action="Login" asp-controller="Auth" class="btn btn-primary px-3 py-3 dropdown-toggle" >
                                    Create Your Ad
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>


      </div>  
  
      <div class="site-blocks-cover overlay overlay-2" style="background-image: url(../Assest/images/hero_2.jpg);" data-aos="fade" id="home-section">
           <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 mt-lg-5 text-center">
                        <h1 class="text-shadow">
                            Find your room at the best price.
                        </h1>
                        <p class="mb-5 text-shadow">
                            Post an ad for anything you want in your room,
                            Find your perfect roommate by posting your ad here.
                        </p>
                        @if (email != null)
                        {
                            <div class="dropdown">
                                <button class="btn btn-primary px-3 py-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Create Your Ad
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-action="Create" asp-controller="Apartmentsads">Apartmentsads</a>
                                    <a class="dropdown-item" asp-action="Create" asp-controller="Furnitures">Furnitures</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div >
                                <a asp-action="Login" asp-controller="Auth" class="btn btn-primary px-3 py-3 dropdown-toggle" >
                                    Create Your Ad
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
      </div>  
    </div>   
  </div>

  <br />
  <br />
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="section-title bg-white text-center   mb-5">About Us <hr /></h1>
    </div>
   

     <section class="site-section" style="margin-top:-78px;" id="about-section">
      <div class="container">
        
        <div class="row large-gutters">
          <div class="col-lg-6 mb-5">

              <div class="owl-carousel slide-one-item with-dots">
                  <div><img src="~/Assest/images/img_1.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></div>
                  <div><img src="~/Assest/images/img_2.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></div>
                  <div><img src="~/Assest/images/img_3.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></div>
                </div>

          </div>
          <div class="col-lg-6 ml-auto">
            
            <h2 class="section-title mb-3">Your Room</h2>
                <p class="lead">We, The "Your room" Development Group.</p>
                <p>have created a website to help students find their suitable rooms in terms of location, rent, and services available around it,
                    and to facilitate the process of finding the appropriate room. We welcome you to use our website.</p>

                <ul class="list-unstyled ul-check success">
                  <li>Register your own account </li>
                  <li>Fill in your data </li>
                  <li>Post your own ads </li>
                  <li>Communication speed </li>
                  <li>Find your ads </li>
                </ul>

                @*<p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>*@
            
          </div>
        </div>
      </div>
    </section>


     @*popular slider*@

      
      <div class="container" id="properties-section">
        <div class="row mb-5 align-items-center">
          <div class="col-md-7 text-left">
            <h2 class="section-title mb-3">POPULAR ADS</h2>
          </div>
          <div class="col-md-5 text-left text-md-right">
            <div class="custom-nav1">
              <a href="#" class="custom-prev1">Previous</a><span class="mx-3">/</span><a href="#" class="custom-next1">Next</a>
            </div>
          </div>
        </div>

        <div class="owl-carousel nonloop-block-13 mb-5">
             @foreach (var item in Model.Item1)
            {
            <div class="mb-5">
                @if (@item.Image1 != null )
                {
                    <div class="ftco-media-1">
                        <div class="ftco-media-1-inner">
                            <a href="property-single.html" class="d-inline-block mb-4"><img src=@Url.Content("~/Image/"+@item.Image1) style="height:400px;width:330px;" alt="Image" class="img-fluid"></a>
                            <div class="ftco-media-details">
                                <h3>@item.Adtitel</h3>
                                <p>@item.AddressNavigation.City </p>
                                <strong>$@item.Price</strong>
                            </div>
                        </div> 
                    </div>
                 }
            </div>
            }
        </div>
      </div>
      <center><p><a aasp-action="Index" asp-controller="Ads" class="btn btn-primary mr-2 mb-2">Browse More Ads</a></p></center> 

 

@*     <section class="site-section bg-light bg-image" id="contact-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Contct Us</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 mb-5">

            

            <form action="#" class="p-5 bg-white">
              
              <h2 class="h4 text-black mb-5">Get In Touch</h2> 

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Subject</label> 
                  <input type="subject" id="subject" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
                </div>
              </div>

  
            </form>
          </div>
          <div class="col-md-5">
            
            <div class="p-4 mb-3 bg-white">
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">203 Fake St. Mountain View, San Francisco, California, USA</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#">youremail@domain.com</a></p>

            </div>
            
          </div>
        </div>
      </div>
    </section>
*@
      

  
  
