@model Your_Room.Models.User

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_PagesLayout1.cshtml";
}


@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_PagesLayout1.cshtml";
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Login/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Login/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/Login/css/style.css">

    <title>Login #9</title>
</head>

<body>



    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <!-- <div class="col-md-6 order-md-2">
                  <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                </div> -->
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="mb-4">
                                    <h3>Sign In to <strong>Colorlib</strong></h3>
                                    <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
                                </div>
                                <form action="#" method="post" enctype="multipart/form-data">
                                    <div class="form-group first">
                                        <label asp-for="FullName" class="control-label"></label>
                                        <input asp-for="FullName" class="form-control" />

                                    </div>
                                    <div class="form-group last mb-4">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input asp-for="Password" class="form-control" />

                                    </div>
                                    <div class="form-group first">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" />

                                    </div>
                                    <div class="form-group first">
                                        <label asp-for="Phonenumber" class="control-label"></label>
                                        <input asp-for="Phonenumber" class="form-control" />

                                    </div>
                                    <div class="form-group first">
                                      <label asp-for="ImageFile" class="label">Image File</label>
                                        <input asp-for="ImageFile" class="input--style-4" />

                                    </div>
                                    <div class="form-group first">
                                        <label asp-for="Gender" class="control-label"></label>
                                        <input asp-for="Gender" class="form-control" />

                                    </div>
                                    <div class="form-group first">
                                        <label asp-for="Age" class="control-label"></label>
                                        <input asp-for="Age" class="form-control" />

                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Usertype" class="control-label"></label>
                                        <select asp-for="Usertype" class="form-control">male</select>
                                        <label asp-for="Usertype" class="control-label"></label>
                                        <select asp-for="Usertype" class="form-control">Female</select>
                                    </div>

                                    <div class="form-group first">
                                        <label asp-for="Usertype" class="control-label"></label>
                                        <input asp-for="Usertype" class="form-control" />

                                    </div>

                                    <div class="d-flex mb-5 align-items-center">
                                        <label class="control control--checkbox mb-0">
                                            <span class="caption">Remember me</span>
                                            <input type="checkbox" checked="checked" />
                                            <div class="control__indicator"></div>
                                        </label>
                                        <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                                    </div>

                                    <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">

                                    <span class="d-block text-center my-4 text-muted"> or sign in with</span>

                                    <div class="social-login text-center">
                                        <a href="#" class="facebook">
                                            <span class="icon-facebook mr-3"></span>
                                        </a>
                                        <a href="#" class="twitter">
                                            <span class="icon-twitter mr-3"></span>
                                        </a>
                                        <a href="#" class="google">
                                            <span class="icon-google mr-3"></span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>




</body>


@*<h1>Register</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phonenumber" class="control-label"></label>
                <input asp-for="Phonenumber" class="form-control" />
                <span asp-validation-for="Phonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserImage" class="control-label"></label>
                <input asp-for="UserImage" class="form-control" />
                <span asp-validation-for="UserImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usertype" class="control-label"></label>
                <input asp-for="Usertype" class="form-control" />
                <span asp-validation-for="Usertype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
*@
