@model Your_Room.Models.Apartmentsad

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Shared.cshtml";
}

@*<h1>Create</h1>

<h4>Apartmentsad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adtitel" class="control-label"></label>
                <input asp-for="Adtitel" class="form-control" />
                <span asp-validation-for="Adtitel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Addate" class="control-label"></label>
                <input asp-for="Addate" class="form-control" />
                <span asp-validation-for="Addate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriptions" class="control-label"></label>
                <input asp-for="Descriptions" class="form-control" />
                <span asp-validation-for="Descriptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numofperson" class="control-label"></label>
                <input asp-for="Numofperson" class="form-control" />
                <span asp-validation-for="Numofperson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numofroom" class="control-label"></label>
                <input asp-for="Numofroom" class="form-control" />
                <span asp-validation-for="Numofroom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numofbed" class="control-label"></label>
                <input asp-for="Numofbed" class="form-control" />
                <span asp-validation-for="Numofbed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <select asp-for="Address" class="form-control" asp-items="ViewBag.Address"></select>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingNumber" class="control-label"></label>
                <input asp-for="BuildingNumber" class="form-control" />
                <span asp-validation-for="BuildingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Electricitybillprice" class="control-label"></label>
                <input asp-for="Electricitybillprice" class="form-control" />
                <span asp-validation-for="Electricitybillprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Waterbillprice" class="control-label"></label>
                <input asp-for="Waterbillprice" class="form-control" />
                <span asp-validation-for="Waterbillprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <select asp-for="Duration" class="form-control" asp-items="ViewBag.Duration"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile1" class="control-label"></label>
                <input asp-for="ImageFile1" class="form-control" />
                <span asp-validation-for="ImageFile1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile2" class="control-label"></label>
                <input asp-for="ImageFile2" class="form-control" />
                <span asp-validation-for="Image2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile3" class="control-label"></label>
                <input asp-for="ImageFile3" class="form-control" />
                <span asp-validation-for="Image3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile4" class="control-label"></label>
                <input asp-for="ImageFile4" class="form-control" />
                <span asp-validation-for="Image4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile5" class="control-label"></label>
                <input asp-for="ImageFile5" class="form-control" />
                <span asp-validation-for="Image5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile6" class="control-label"></label>
                <input asp-for="ImageFile6" class="form-control" />
                <span asp-validation-for="Image6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile7" class="control-label"></label>
                <input asp-for="ImageFile7" class="form-control" />
                <span asp-validation-for="Image7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile8" class="control-label"></label>
                <input asp-for="ImageFile8" class="form-control" />
                <span asp-validation-for="Image8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userinfo" class="control-label"></label>
                <select asp-for="Userinfo" class="form-control" asp-items="ViewBag.Userinfo"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>




<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Horizontal Layouts - Forms | Sneat - Bootstrap 5 HTML Admin Template - Pro</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../createAd/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../createAd/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../createAd/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../createAd/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="../createAd/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../createAd/assets/js/config.js"></script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <!-- Layout container -->
            <div class="layout-page">

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">
                        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Horizontal Layouts</h4>

                        <!-- Basic Layout & Basic with Icons -->
                        <div class="row">
                            <!-- Basic Layout -->
                            <div class="col-12">
                                <div class="card mb-4">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h5 class="mb-0">Basic Layout</h5>
                                        <small class="text-muted float-end">Default label</small>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row ">
                                                <div class="col-sm-6">


                                                    <div class="row mb-3">

                                                        <label asp-for="Adtitel" class="col-sm-4 col-form-label">Name</label>

                                                        <div class="col-sm-8">
                                                            <input asp-for="Adtitel" class="form-control" placeholder="John Doe" />
                                                        </div>

                                                    </div>
                                                    <div class="row mb-3">




                                                        <label asp-for="Addate" class="col-sm-4 col-form-label" for="basic-default-name">Name</label>
                                                        <div class="col-sm-8">
                                                            <input asp-for="Addate" class="form-control" id="basic-default-name" />
                                                           
                                                        </div>

                                                    </div>

                                                    <div class="row mb-3">
                                                        <label asp-for="Descriptions" class="col-sm-4 col-form-label" >Descriptions</label>
                                                        
                                                        <div class="col-sm-8">
                                                            <textarea asp-for="Descriptions" class="form-control"  placeholder="John Doe" >
                                                        </textarea>
                                                            </div>

                                                    </div>


                                                </div>




                                                <div class="col-sm-6">
                                                    <div class="row mb-3">


                                                        <div class="col-sm-12">




                                                            <input class="form-control" type="file" id="formFile" placeholder="Image 1" />

                                                        </div>

                                                    </div>

                                                    <div class="row mb-3">


                                                        <div class="col-sm-12">




                                                            <input class="form-control" type="file" id="formFile" placeholder="Image 1" />

                                                        </div>

                                                    </div>

                                                    <div class="row mb-3">


                                                        <div class="col-sm-12">




                                                            <input class="form-control" type="file" id="formFile" placeholder="Image 1" />

                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="row mb-3">
                                                    <label class="col-sm-2 col-form-label" for="basic-default-email">Email</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group input-group-merge">
                                                            <input type="text"
                                                                   id="basic-default-email"
                                                                   class="form-control"
                                                                   placeholder="john.doe"
                                                                   aria-label="john.doe"
                                                                   aria-describedby="basic-default-email2" />
                                                            <span class="input-group-text" id="basic-default-email2"></span>
                                                        </div>
                                                        <div class="form-text">You can use letters, numbers & periods</div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label class="col-sm-2 col-form-label" for="basic-default-phone">Phone No</label>
                                                    <div class="col-sm-10">
                                                        <input type="text"
                                                               id="basic-default-phone"
                                                               class="form-control phone-mask"
                                                               placeholder="658 799 8941"
                                                               aria-label="658 799 8941"
                                                               aria-describedby="basic-default-phone" />
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label class="col-sm-2 col-form-label" for="basic-default-message">Message</label>
                                                    <div class="col-sm-10">
                                                        <textarea id="basic-default-message"
                                                                  class="form-control"
                                                                  placeholder="Hi, Do you have a moment to talk Joe?"
                                                                  aria-label="Hi, Do you have a moment to talk Joe?"
                                                                  aria-describedby="basic-icon-default-message2"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row justify-content-end">
                                                    <div class="col-sm-10">
                                                        <button type="submit" class="btn btn-primary">Send</button>
                                                    </div>
                                                </div>                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- / Content -->


                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../createAd/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../createAd/assets/vendor/libs/popper/popper.js"></script>
    <script src="../createAd/assets/vendor/js/bootstrap.js"></script>
    <script src="../createAd/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../createAd/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../createAd/assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>


