@*@model IEnumerable<Your_Room.Models.Furniture>
@{
    ViewData["Title"] = "AllFurnitures";
    Layout = "~/Views/Shared/_PagesLayout1.cshtml";
        var Id = ViewBag.Customer_Id;
    var Name = ViewBag.Customer_Name;
    var email = ViewBag.Customer_Email;
    var Img = ViewBag.Customer_Image;
}
      
      <div class="container" id="properties-section">
        <div class="row mb-5 align-items-center">
          <div class="col-md-7 text-left">
            <h2 class="section-title mb-3">POPULAR ADS</h2>
          </div>
          <div class="col-md-5 text-left text-md-right">
            <div class="custom-nav1">
              <a href="#" class="custom-prev1">Previous</a><span class="mx-3">/</span><a href="#" class="custom-next1">Next</a>
            </div>
          </div>
        </div>

        <div class="owl-carousel nonloop-block-13 mb-5">
             @foreach (var item in Model)
            {
            <div class="mb-5">
                    <div class="ftco-media-1">
                        <div class="ftco-media-1-inner">
                            <a href="property-single.html" class="d-inline-block mb-4"><img src=@Url.Content("~/Image/"+@item.Image1) style="height:400px;width:330px;" alt="Image" class="img-fluid"></a>
                            <div class="ftco-media-details">
                                <h3>@item.Ftitel</h3>
                                <p>@item.AddressNavigation.City </p>
                                <strong>$@item.Price</strong>
                            </div>
                        </div> 
                    </div>
            </div>
            }
        </div>
      </div>

*@
