@model Your_Room.Models.Furniture

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PagesLayout1.cshtml";
}
@*
<h1>Create</h1>

<h4>Furniture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ftitel" class="control-label"></label>
                <input asp-for="Ftitel" class="form-control" />
                <span asp-validation-for="Ftitel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fdate" class="control-label"></label>
                <input asp-for="Fdate" class="form-control" />
                <span asp-validation-for="Fdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriptions" class="control-label"></label>
                <input asp-for="Descriptions" class="form-control" />
                <span asp-validation-for="Descriptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <select asp-for="Address" class ="form-control" asp-items="ViewBag.Address"></select>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingNumber" class="control-label"></label>
                <input asp-for="BuildingNumber" class="form-control" />
                <span asp-validation-for="BuildingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image1" class="control-label"></label>
                <input asp-for="Image1" class="form-control" />
                <span asp-validation-for="Image1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image2" class="control-label"></label>
                <input asp-for="Image2" class="form-control" />
                <span asp-validation-for="Image2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image3" class="control-label"></label>
                <input asp-for="Image3" class="form-control" />
                <span asp-validation-for="Image3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image4" class="control-label"></label>
                <input asp-for="Image4" class="form-control" />
                <span asp-validation-for="Image4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image5" class="control-label"></label>
                <input asp-for="Image5" class="form-control" />
                <span asp-validation-for="Image5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image6" class="control-label"></label>
                <input asp-for="Image6" class="form-control" />
                <span asp-validation-for="Image6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image7" class="control-label"></label>
                <input asp-for="Image7" class="form-control" />
                <span asp-validation-for="Image7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image8" class="control-label"></label>
                <input asp-for="Image8" class="form-control" />
                <span asp-validation-for="Image8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userinfo" class="control-label"></label>
                <select asp-for="Userinfo" class ="form-control" asp-items="ViewBag.Userinfo"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@



<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Horizontal Layouts - Forms | Sneat - Bootstrap 5 HTML Admin Template - Pro</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../createAd/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../createAd/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../createAd/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../createAd/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="../createAd/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../createAd/assets/js/config.js"></script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <!-- Layout container -->
            <div class="layout-page">

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">
                        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Horizontal Layouts</h4>

                        <!-- Basic Layout & Basic with Icons -->
                        <div class="row">
                            <!-- Basic Layout -->
                            <div class="col-12">
                                <div class="card mb-4">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h5 class="mb-0">Basic Layout</h5>
                                        <small class="text-muted float-end">Default label</small>
                                    </div>
                                    <div class="card-body">
                                       
                                        <form asp-action="Create" enctype="multipart/form-data">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="row ">
                                                <div class="col-sm-6">


                                                    <div class="row mb-3">

                                                        <label asp-for="Ftitel" class="col-sm-4 col-form-label">Title</label>

                                                        <div class="col-sm-8">
                                                            <input asp-for="Ftitel" class="form-control" placeholder="Apretment for Rent .." />
                                                        </div>

                                                    </div>
                                                    <div class="row mb-3">

                                                        <label asp-for="Price" class="col-sm-4 col-form-label"></label>
                                                        <div class="col-sm-8">
                                                            <input asp-for="Price" class="form-control" placeholder="Price In JOD" />

                                                        </div>

                                                    </div>

                                                    <div class="row mb-3">
                                                        <label asp-for="Descriptions" class="col-sm-4 col-form-label">Descriptions</label>

                                                        <div class="col-sm-8">
                                                            <textarea asp-for="Descriptions" class="form-control" placeholder="Details of your Ad">
                                                        </textarea>
                                                        </div>

                                                    </div>

                                             

                                               
                                                    <div class="row mb-3">

                                                        <label asp-for="Address" class="col-sm-4 col-form-label">City</label>
                                                        <div class="col-sm-8">
                                                            <select asp-for="Address" class="form-control" asp-items="ViewBag.Address" placeholder="City"></select>

                                                        </div>

                                                    </div>

                                                    <div class="row mb-3">

                                                        <label asp-for="Street" class="col-sm-4 col-form-label"></label>
                                                        <div class="col-sm-8">
                                                            <input asp-for="Street" class="form-control" placeholder="Al-Madina.ST" />

                                                        </div>

                                                    </div>
                                                    <div class="row mb-3">

                                                        <label asp-for="BuildingNumber" class="col-sm-4 col-form-label"></label>
                                                        <div class="col-sm-8">
                                                            <input asp-for="BuildingNumber" class="form-control"placeholder="8" />

                                                        </div>

                                                    </div>
                                                  
                                                 
                                            






                                                </div>




                                                <div class="col-sm-6">
                                                    <div class="row mb-3">
                                                       
                                                        <div class="col-sm-12">
                                                             <input asp-for="ImageFile1" class="form-control" placeholder="Image1" />
                                                        </div>
                                                    </div>
                                                      <div class="row mb-3">
                                                          
                                                        <div class="col-sm-12">
                                                             <input asp-for="ImageFile2" class="form-control" placeholder="Image1" />
                                                        </div>
                                                    </div>

                                                     <div class="row mb-3">
                                                           
                                                        <div class="col-sm-12">
                                                             <input asp-for="ImageFile3" class="form-control" placeholder="Image1" />
                                                        </div>
                                                    </div>
                                                      <div class="row mb-3">
                                                         
                                                        <div class="col-sm-12">
                                                             <input asp-for="ImageFile4" class="form-control" placeholder="Image1" />
                                                        </div>
                                                    </div>
                                                      <div class="row mb-3">
                                                        
                                                        <div class="col-sm-12">
                                                             <input asp-for="ImageFile5" class="form-control" placeholder="Image1" />
                                                        </div>
                                                    </div>
                                                      <div class="row mb-3">
                                                       
                                                        <div class="col-sm-12">
                                                             <input asp-for="ImageFile6" class="form-control" placeholder="Image1" />
                                                        </div>
                                                    </div>
                                                      <div class="row mb-3">
                                                           
                                                        <div class="col-sm-12">
                                                             <input asp-for="ImageFile7" class="form-control" placeholder="Image1" />
                                                        </div>
                                                    </div>
                                                      <div class="row mb-3">
                                                       
                                                        <div class="col-sm-12">
                                                             <input asp-for="ImageFile8" class="form-control" placeholder="Image1" />
                                                        </div>
                                                    </div>

                                                </div>
                                                <br />
                                                        <br />
                                                                  <br />
                                          
                                                  
                                             
                                                         <div class="d-grid gap-2 col-lg-12 mx-auto">
                                                        <input type="submit" value="Create" class="btn btn-primary btn-lg" />
                                                    </div>
                                                   
                                                 
                                                </div>
                                           
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- / Content -->


                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../createAd/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../createAd/assets/vendor/libs/popper/popper.js"></script>
    <script src="../createAd/assets/vendor/js/bootstrap.js"></script>
    <script src="../createAd/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../createAd/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../createAd/assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>

