@model Your_Room.Models.Furniture

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PagesLayout1.cshtml";
}

<h1>Create</h1>

<h4>Furniture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ftitel" class="control-label"></label>
                <input asp-for="Ftitel" class="form-control" />
                <span asp-validation-for="Ftitel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fdate" class="control-label"></label>
                <input asp-for="Fdate" class="form-control" />
                <span asp-validation-for="Fdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriptions" class="control-label"></label>
                <input asp-for="Descriptions" class="form-control" />
                <span asp-validation-for="Descriptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <select asp-for="Address" class ="form-control" asp-items="ViewBag.Address"></select>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingNumber" class="control-label"></label>
                <input asp-for="BuildingNumber" class="form-control" />
                <span asp-validation-for="BuildingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image1" class="control-label"></label>
                <input asp-for="Image1" class="form-control" />
                <span asp-validation-for="Image1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image2" class="control-label"></label>
                <input asp-for="Image2" class="form-control" />
                <span asp-validation-for="Image2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image3" class="control-label"></label>
                <input asp-for="Image3" class="form-control" />
                <span asp-validation-for="Image3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image4" class="control-label"></label>
                <input asp-for="Image4" class="form-control" />
                <span asp-validation-for="Image4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image5" class="control-label"></label>
                <input asp-for="Image5" class="form-control" />
                <span asp-validation-for="Image5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image6" class="control-label"></label>
                <input asp-for="Image6" class="form-control" />
                <span asp-validation-for="Image6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image7" class="control-label"></label>
                <input asp-for="Image7" class="form-control" />
                <span asp-validation-for="Image7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image8" class="control-label"></label>
                <input asp-for="Image8" class="form-control" />
                <span asp-validation-for="Image8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userinfo" class="control-label"></label>
                <select asp-for="Userinfo" class ="form-control" asp-items="ViewBag.Userinfo"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

